.buttonSubmit {
  &:not([disabled]) {
    &:hover {
      cursor: pointer;
      background: dodgerblue;
      transition: 0.3s;
    }
  }

  &[disabled] {
    background: #8697a4;
    color: white;
  }
}