/* .coreWrap */
.coreWrap {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    margin-top: 1.5rem;
    padding: 1.25rem;
}

@media (max-width: 800px) {
    .coreWrap {
        padding: 0.625rem;
    }
}

@media (max-width: 500px) {
    .coreWrap {
        padding: 0.375rem;
    }
}

@media (max-width: 350px) {
    .coreWrap {
        padding: 0.125rem;
    }
}

/* .topContent */
.topContent {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .topContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* .price */
.price {
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

@media (max-width: 800px) {
    .price {
        margin-top: 0.375rem;
    }
}

/* .cover */
.cover {
    border-radius: 0.375rem;
}

@media (max-width: 800px) {
    .cover {
        width: 100%;
    }
}

/* .editButton */
.editButton {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

@media (max-width: 800px) {
    .editButton {
        margin-top: 0.625rem;
    }
}

/* .userInformation */
.userInformation {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .userInformation {
        margin-top: 0.25rem;
        width: 100%;
        align-items: center;
        border-radius: 0.375rem;
        padding: 0.375rem;
    }
}

/* .topInf */
.topInf {
    text-align: center;
    margin-left: 1.25rem;
    color: #6c757d;
    display: flex;
    flex-direction: column;
    padding: 0.3125rem;
    justify-content: flex-start;
    width: 3.5rem;
}

@media (max-width: 800px) {
    .topInf {
        margin-left: 0;
        margin-top: 0.125rem;
    }
}

/* .topInformation */
.topInformation {
    display: flex;
}

@media (max-width: 800px) {
    .topInformation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* .middleContent */
.middleContent {
    display: flex;
    justify-content: space-around;
    margin-top: 1.3125rem;
    overflow-wrap: break-word;
    gap: 0.3125rem;
}

@media (max-width: 852px) {
    .middleContent {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

/* .productText */
.productText {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media (max-width: 852px) {
    .productText {
        width: 100%;
        margin-top: 0.3125rem;
    }
}

/* .bottomContent */
.bottomContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 0.3125rem;
}

@media (max-width: 510px) {
    .bottomContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* .hideBlock */
.hideBlock {
    display: none;
}

@media (max-width: 510px) {
    .hideBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

/* .hiddenInfo */
@media (max-width: 510px) {
    .hiddenInfo {
        display: none;
    }
}

/* .ratingButtons */
@media (max-width: 510px) {
    .ratingButtons {
        order: 3;
        border: none;
    }
}

/* .buttons */
.buttons {
    min-height: 40px;
}

@media (max-width: 510px) {
    .buttons {
        border: none;
    }
}
