/* .wrapper */
.wrapper {
    display: flex;
}

@media (max-width: 850px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* .userAvatar */
.userAvatar {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    max-height: 14rem;
}

@media (max-width: 850px) {
    .userAvatar {
        flex-shrink: 0;
    }
}

/* .leftCard */
.leftCard {
    display: flex;
    border: 1px solid;
    border-radius: 0.375rem;
    flex-direction: column;
    padding: 0.375rem 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    max-height: 26.25rem;
}

@media (max-width: 850px) {
    .leftCard {
        width: 100%;
        flex-direction: row;
        padding: 0.375rem 1rem;
        padding-bottom: 0.3125rem;
        padding-top: 0.125rem;
        justify-content: space-between;
    }
}

@media (max-width: 784px) {
    .leftCard {
        padding: 0.375rem 0.4375rem;
    }
}

@media (max-width: 706px) {
    .leftCard {
        flex-direction: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/* .buttonsWrap */
.leftCard .buttonsWrap {
    display: flex;
    width: 100%;
}

@media (max-width: 850px) {
    .leftCard .buttonsWrap {
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
    }
}

/* .buttons */
.leftCard .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.375rem;
    width: 100%;
}

@media (max-width: 706px) {
    .leftCard .buttons {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 0.625rem;
    }
}

/* .userText */
.leftCard .userText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.375rem;
    text-align: center;
}

@media (max-width: 850px) {
    .leftCard .userText {
        width: auto;
        padding: 0;
    }
}

/* .rightCard */
.rightCard {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 0.125rem;
    border-radius: 0.375rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50.6875rem;
}

@media (max-width: 850px) {
    .rightCard {
        margin-left: 0;
        margin-top: 0.1875rem;
    }
}

/* .blocked */
.blocked {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    .blocked {
        box-shadow: none;
        padding: 1.25rem;
        background-color: white;
    }
}

/* .profileOptions */
.profileOptions {
    margin-bottom: 7rem;
}

@media (max-width: 846px) and (min-width: 710px) {
    .profileOptions {
        right: 1.25rem;
    }
}

@media (max-width: 500px) {
    .profileOptions {
        margin-bottom: 8rem;
    }
}

/* .createdAtWrap */

@media (max-width: 500px) {
    .createdAtWrap {
        margin-left: 0.25rem;
    }
}

/* .messageLink */
.messageLink {
    background-color: #e2e8f0;
    color: #4a5568;
    cursor: default;
    padding: 0.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
}

.messageLink:not([disabled]) {
    background-color: #4299e1;
    color: white;
    cursor: pointer;
}

.messageLink:hover{
    background-color: #3182ce;
}

/* .sinceWrap */


@media (max-width: 500px) {
    .sinceWrap {
        margin-right: 0.25rem;
    }

}

/* .inform */
.inform {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .inform {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }
}
