.wrapper{
  @apply flex;

  @media (max-width: 850px) {
    @apply flex-col justify-center items-center;
  }
}

.userAvatar{
  @apply mb-3 flex items-center justify-center w-52 max-h-56;

  @media (max-width: 850px){
    @apply flex-shrink-0
  }
}
.leftCard{
  @apply flex border rounded-lg flex-col px-6 py-2 bg-white shadow-md items-center justify-center max-h-[420px] ;

  @media (max-width: 850px) {
    @apply w-full flex-row px-16 pb-5 pt-2 justify-between;
  }
  @media (max-width: 784px) {
    @apply  px-7 ;
  }
  @media (max-width: 706px) {
    @apply flex-col rounded-t-none;
  }

  .buttonsWrap{
    @apply w-full flex;
    @media (max-width: 850px) {
      @apply h-full flex-col justify-end items-end self-end;
    }

  }
  .buttons{
    @apply flex items-center justify-between mt-3 w-full;
    @media (max-width: 706px) {
      @apply basis-full justify-center mt-5;
    }
  }
  .userText{
    @apply w-full flex flex-col items-center p-3 text-center;

    @media (max-width: 850px) {
      @apply w-auto p-0;
    }
  }

}

.rightCard{
  @apply bg-white shadow-md ml-2 rounded-lg w-full flex flex-col justify-between max-w-[811px];

  @media(max-width: 850px){
    @apply ml-0 mt-3
  }
}



.blocked {
  @apply flex justify-center items-center;
  @media(max-width: 850px){
    @apply bg-transparent shadow-none p-10 bg-white;
  }

}
.profileOptions{
  @apply mb-28;
  @media (max-width: 846px) and (min-width: 710px) {
   @apply right-10
  }
  @media (max-width: 500px) {
    @apply mb-32;
  }
}
.createdAtWrap{
  @media (max-width: 500px) {
    @apply ml-4;
  }
}
.messageLink{
  @apply  bg-gray-200 text-gray-600 cursor-default p-2 rounded transition-colors;
  &:not([disabled]){
    @apply bg-blue-500 text-white hover:bg-blue-600 cursor-pointer;
  }

}

.sinceWrap{
  @media (max-width: 500px) {
    @apply mr-4;

  }
}


.inform{
  @apply w-full border-t border-gray-300 p-4 flex justify-between;
  @media (max-width: 500px) {
    @apply w-full flex-wrap px-0;
  }
}

